@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap');

:root {
    --line-border-fill: rgb(79, 167, 145);
    --line-border-empty: rgb(186, 195, 195);
}

*{
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
    
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    
    position: relative;
    
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
    height: 4px;
    width: 100%;
    
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
    height: 4px;
    width: 0%;
    
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: floralwhite;
    color: #999;
    border: 3px solid var(--line-border-empty);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: floralwhite;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 32px;
    margin: 5px;
}

.btn:active {
    transform: scale(.98);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}